matplotlib~=2.2.4
ChemDataExtractor~=1.3.0
scikit-image~=0.14.5
numpy~=1.19.5
setuptools~=59.6.0
Pillow~=8.4.0
scipy~=1.5.4
scikit-learn~=0.24.2
six~=1.16.0
opencv-python~=4.9.0.80
tesserocr~=2.7.0
argparse~=1.4.0

